.column-root {
    min-width: 250px;
    background-color: rgba(221, 217, 217, 0.6);
    margin: 0 25px;
}

.column-header {
    height: 50px;
    border-bottom: 1px solid white;
    display: flex;
    align-items: center;
}

.column-body {
    min-height: 100vh;
}

.column-header span {
    font-size: 18px;
    font-weight: bolder;
    margin-left: 15px;
}

.column-stories-container {
    margin-top: 15px;
}