.board-root {
    min-width: 100vh;
    min-height: 100vh;
    background-image: url("../../static/abstraction.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.board-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100%;
}

.header-root {
    height: 60px;
    min-width: 100%;
    background-color: black;
}